{% extends 'base.html' %}
{% block title %}
Authors list
{% endblock %}
{% block body %}


<div class="row">
    <h1>Authors:</h1>
</div>
<div class="row">
    <div class="col">
        {% if authors %}
            {% for author in authors %}
                <ul>
                    <li>
                        <a href="{{ url_for('articles_app.author_articles', author_id=author.id) }}">{{ author.user.username }}</a>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <h3>No authors yet</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
